.modal(v-bind:class='{ "is-active": upgradeModal.state }')
  .modal-background
  .modal-container
    .modal-content
      template(v-if='upgradeModal.step === "running"')
        header.is-blue Install
        section.modal-loading
          i
          span Wiki.js {{ upgradeModal.mode }} in progress...
          em Please wait
      template(v-if='upgradeModal.step === "error"')
        header.is-red Installation Error
        section.modal-loading
          span {{ upgradeModal.error }}
        footer
          a.button.is-grey.is-outlined(v-on:click='upgradeCancel') Abort
          a.button.is-deep-orange(v-on:click='upgradeStart') Try Again
      template(v-if='upgradeModal.step === "confirm"')
        header.is-deep-orange Are you sure?
        section
          label.label You are about to {{ upgradeModal.mode }} Wiki.js.
          span.note You will not be able to access your wiki during the operation. Content will not be affected. However, it is your responsability to ensure you have a backup in the unexpected event content gets lost or corrupted.
        footer
          a.button.is-grey.is-outlined(v-on:click='upgradeCancel') Abort
          a.button.is-deep-orange(v-on:click='upgradeStart') Start
