.modal#modal-create-discard
  .modal-background
  .modal-container
    .modal-content
      header.is-orange Discard?
      section
        span Are you sure you want to leave this page and loose anything you wrote so far?
      footer
        a.button.is-grey.is-outlined.btn-create-discard Stay on page
        a.button.is-orange(href='/') Discard
