
.modal#modal-create-prompt
  .modal-background
  .modal-container
    .modal-content
      header.is-light-blue Create New Document
      section
        label.label Enter the new document path:
        p.control.is-fullwidth
          input.input#txt-create-prompt(type='text', placeholder='page-name')
          span.help.is-danger.is-hidden This document path is invalid!
      footer
        a.button.is-grey.is-outlined.btn-create-prompt Discard
        a.button.is-light-blue.btn-create-go Create
