
.modallayer#modal-editor-codeblock
	.modallayer-content
		
		.columns
			.column
				h3 Code Block
			.column.is-narrow
				p.control
					span.select
						select(style={width: '300px'}, v-model='modeSelected')
							option(v-for="mode in modes" v-bind:value='mode.name') {{ mode.caption }}
			.column.is-narrow
				a.button.is-warning.is-outlined Cancel
			.column.is-narrow
				a.button.is-primary.is-outlined Insert Code Block

		.ace-container(style={'border-radius':'5px'})
			#codeblock-editor