
.modal#modal-editor-codeblock
  .modal-background
  .modal-container
    .modal-content.is-expanded
      
      header.is-green
        span Insert Code Block

      section.is-gapless
        .columns.is-stretched
          .column.is-one-quarter.modal-sidebar.is-green(style={'max-width':'350px'})
            .model-sidebar-header Language
            .model-sidebar-content
              p.control.is-fullwidth
                select(v-model='modeSelected')
                  option(v-for='mode in modes', v-bind:value='mode.name') {{ mode.caption }}
          .column.ace-container
            #codeblock-editor

      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Discard
        a.button.is-green(v-on:click='insertCode') Insert Code Block
