
.modal#modal-edit-discard
  .modal-background
  .modal-container
    .modal-content
      header.is-orange Discard?
      section
        span Are you sure you want to leave this page and loose any modifications?
      footer
        a.button.is-grey.is-outlined.btn-edit-discard Stay on page
        a.button.is-orange(href='/' + pageData.meta.path) Discard
