
.modal#modal-editor-image
  .modal-background
  .modal-container
    .modal-content.is-expanded

      header.is-green
        span Insert Image
        p.modal-notify(v-bind:class='{ "is-active": isLoading }')
          span {{ isLoadingText }}
          i
      .modal-toolbar.is-green
        a.button(v-on:click='newFolder')
          i.fa.fa-folder
          span New Folder
        a.button#btn-editor-image-upload
          i.fa.fa-upload
          span Upload Image
          label
            input(type='file', multiple)
        a.button(v-on:click='fetchFromUrl')
          i.fa.fa-download
          span Fetch from URL
      section.is-gapless
        .columns.is-stretched
          .column.is-one-quarter.modal-sidebar.is-green(style={'max-width':'350px'})
            .model-sidebar-header Folders
            ul.model-sidebar-list
              li(v-for='fld in folders')
                a(v-on:click='selectFolder(fld)', v-bind:class='{ "is-active": currentFolder === fld }')
                  i.icon-folder2
                  span / {{ fld }}
            .model-sidebar-header Alignment
            .model-sidebar-content
              p.control.is-fullwidth
                select(v-model='currentAlign')
                  option(value='left') Left (default)
                  option(value='center') Centered
                  option(value='right') Right
                  option(value='logo') Page Logo
          .column.editor-modal-image-choices
            figure(v-for='img in images', v-bind:class='{ "is-active": currentImage === img._id }', v-on:click='selectImage(img._id)', v-bind:data-uid='img._id')
              img(v-bind:src='"/uploads/t/" + img._id + ".png"')
              span: strong {{ img.basename }}
              span {{ img.filesize | filesize }}
            em(v-show='images.length < 1')
              i.icon-marquee-minus
              | This folder is empty.
      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Discard
        a.button.is-green(v-on:click='insertImage') Insert Image

  .modal.is-superimposed(v-bind:class='{ "is-active": newFolderShow }')
    .modal-background
    .modal-container
      .modal-content
        header.is-light-blue New Folder
        section
          label.label Enter the new folder name:
          p.control.is-fullwidth
            input.input#txt-editor-image-newfoldername(type='text', placeholder='folder name', v-model='newFolderName', v-on:keyup.enter='newFolderCreate', v-on:keyup.esc='newFolderDiscard')
            span.help.is-danger(v-show='newFolderError') This folder name is invalid!
        footer
          a.button.is-grey.is-outlined(v-on:click='newFolderDiscard') Discard
          a.button.is-light-blue(v-on:click='newFolderCreate') Create

  .modal.is-superimposed(v-bind:class='{ "is-active": fetchFromUrlShow }')
    .modal-background
    .modal-container
      .modal-content
        header.is-light-blue Fetch Image from URL
        section
          label.label Enter full URL path to the image:
          p.control.is-fullwidth
            input.input#txt-editor-image-fetchurl(type='text', placeholder='http://www.example.com/some-image.png', v-model='fetchFromUrlURL')
            span.help.is-danger.is-hidden This URL path is invalid!
        footer
          a.button.is-grey.is-outlined(v-on:click='fetchFromUrlDiscard') Discard
          a.button.is-light-blue(v-on:click='fetchFromUrlGo') Fetch

  .modal.is-superimposed(v-bind:class='{ "is-active": renameImageShow }')
    .modal-background
    .modal-container
      .modal-content
        header.is-indigo Rename Image
        section
          label.label Enter the new filename (without the extension) of the image:
          p.control.is-fullwidth
            input.input#txt-editor-image-rename(type='text', placeholder='filename', v-model='renameImageFilename')
            span.help.is-danger.is-hidden This filename is invalid!
        footer
          a.button.is-grey.is-outlined(v-on:click='renameImageDiscard') Discard
          a.button.is-light-blue(v-on:click='renameImageGo') Rename

  .modal.is-superimposed(v-bind:class='{ "is-active": deleteImageShow }')
    .modal-background
    .modal-container
      .modal-content
        header.is-red Delete image?
        section
          span Are you sure you want to delete #[strong {{deleteImageFilename}}]?
        footer
          a.button.is-grey.is-outlined(v-on:click='deleteImageWarn(false)') Discard
          a.button.is-red(v-on:click='deleteImageGo') Delete
