
//.modallayer#modal-editor-link
	.modallayer-content
		.tabs.is-boxed
			ul
				li
					a
						span.icon.is-small
							i.fa.fa-file-text-o
						span Internal Document Link
				li.is-active
					a
						span.icon.is-small
							i.fa.fa-external-link
						span External Link
		.columns.is-hidden
			.column
				label.label Text to display
				p.control
					input.input(type='text', placeholder='Text input')
			.column
				label.label Link
				p.control
					input.input(type='text', placeholder='http://')
		.columns
			.column
				label.label Text to display
				p.control
					input.input(type='text', placeholder='Text input')
			.column
				label.label Link
				p.control
					input.input(type='text', placeholder='http://')
