
.modal#modal-move-prompt
  .modal-background
  .modal-container
    .modal-content
      header.is-indigo Move document
      section
        label.label Enter the new document path:
        p.control.is-fullwidth
          input.input#txt-move-prompt(type='text', placeholder='page-name')
          span.help.is-red.is-hidden This document path is invalid or not allowed!
        span.note Note that moving or renaming documents can lead to broken links. Make sure to edit any page that links to this document afterwards!
      footer
        a.button.is-grey.is-outlined.btn-move-prompt Discard
        a.button.is-indigo.btn-move-go Move
