html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[v-cloak], .is-hidden {
  display: none;
}

#root {
  position: relative;
  min-height: 100%;

  &.is-fullscreen {
    height: 100vh;
  }
}


@for $i from 0 through 25 {
  .radius-#{$i} {
    border-radius: #{$i}px;
  }
}
