extends ./_layout.pug

block adminContent
  .hero
    h1.title#title= t('nav.syssettings')
    h2.subtitle= t('admin:settings.subtitle')
    i.pageicon.nc-icon-outline.ui-1_settings-gear-63
  .form-sections
    section Coming soon
