// CultBR Design System - Quasar Theme Override

$primary   : #006FEE;
$secondary : #39DDA2;
$accent    : #FFCF00;

$dark      : #19191C;

$positive  : #39DDA2;
$negative  : #FF385C;
$info      : #5BA7FF;
$warning   : #FFD361;

$header : #19191C;
$sidebar: #19191C;

$dark-6: #0D0D0E;
$dark-5: #19191C;
$dark-4: #1A2744;
$dark-3: #2A3550;
$dark-2: #3A4560;
$dark-1: #4B5570;
