{
  "comments": true,
  "plugins": [
    "lodash",
    "graphql-tag",
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/es5/components/${member}",
        "preventFullImport": true
      }
    }]
  ],
  "presets": [
    ["env"],
    "stage-2"
  ]
}
