# Logs
logs
*.log
/logs

# Deployment builds
dist

# Dependency directories
node_modules
npm/node_modules

# NPM / Yarn
.npm
.node_repl_history
npm-debug.log*
.yarn

# Generated assets
/assets
server/views/master.pug
server/views/legacy/master.pug
server/views/setup.pug

# Webpack
.webpack-cache
.fusebox

# Config Files
/config.yml

# Data directories
/repo
/data
/uploads
/content
/temp
*.sqlite

# IDE exclude
.idea
*.sublime-*

# Test results
test-results/
.scannerwork

# Localization Resources
/server/locales/**/*.yml
