# Logs
logs
*.log
npm-debug.log*
/logs

# Deployment builds
dist

# Dependency directories
node_modules
npm/node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# NewRelic APM
newrelic.js

# Generated assets
/assets/js

# Fusebox
.fusebox

# Config Files
config.yml

# Data directories
/repo
/data
/uploads
