#######################################################################
# Wiki.js - CONFIGURATION                                             #
#######################################################################
# Full documentation + examples:
# https://next.js.wiki/docs/install

# ---------------------------------------------------------------------
# Port the server should listen to
# ---------------------------------------------------------------------

port: 3000

# ---------------------------------------------------------------------
# Database
# ---------------------------------------------------------------------
# PostgreSQL 16 or later required

db:
  host: localhost
  port: 5432
  user: postgres
  pass: postgres
  db: postgres
  schema: wiki
  ssl: false

  # Optional
  # -> Uncomment lines you need below and set `auto` to false
  # -> Full list of accepted options: https://nodejs.org/api/tls.html#tls_tls_createsecurecontext_options
  sslOptions:
    auto: true
    # rejectUnauthorized: false
    # ca: path/to/ca.crt
    # cert: path/to/cert.crt
    # key: path/to/key.pem
    # pfx: path/to/cert.pfx
    # passphrase: xyz123

#######################################################################
# ADVANCED OPTIONS                                                    #
#######################################################################
# Do not change unless you know what you are doing!

# ---------------------------------------------------------------------
# Database Pool Options
# ---------------------------------------------------------------------
# Refer to https://github.com/vincit/tarn.js for all possible options

pool:
  # min: 2
  # max: 10

# ---------------------------------------------------------------------
# IP address the server should listen to
# ---------------------------------------------------------------------
# Leave 0.0.0.0 for all interfaces

bindIP: 0.0.0.0

# ---------------------------------------------------------------------
# Logging
# ---------------------------------------------------------------------
# Possible values: error, warn, info (default), debug

logLevel: info

# Output format for logging, possible values: default, json

logFormat: default

# ---------------------------------------------------------------------
# Offline Mode
# ---------------------------------------------------------------------
# If your server cannot access the internet. Set to true and manually
# download the offline files for sideloading.

offline: false

# ---------------------------------------------------------------------
# Data Path
# ---------------------------------------------------------------------
# Writeable data path used for cache and temporary user uploads.
dataPath: ./data

# ---------------------------------------------------------------------
# Body Parser Limit
# ---------------------------------------------------------------------
# Maximum size of API requests body that can be parsed, in bytes.
# Does not affect file uploads. (default: 5242880 (5mb))

bodyParserLimit: 5242880

# ---------------------------------------------------------------------
# Scheduler
# ---------------------------------------------------------------------

scheduler:
  # Maximum number of workers to run background cpu-intensive jobs.
  # Leave 'auto' to use number of CPU cores as maximum.
  workers: auto

# ---------------------------------------------------------------------
# Dev Mode
# ---------------------------------------------------------------------
# Settings when running in dev mode only

dev:
  port: 3001
  hmrClientPort: 3001
