[ req ]
default_bits            = 4096
default_md              = sha512
distinguished_name      = req_distinguished_name
req_extensions          = req_ext
string_mask             = utf8only
prompt                  = no
encrypt_key             = no

[ req_distinguished_name ]
C                               = "DE"
ST                              = "Bayern"
L                               = "Muenchen"
O                               = "Capgemini"
OU                              = "APPSTWO"
CN                              = "argocd-capwiki.corp.capgemini.com" 
emailAddress                    = "mar-project-team.de@capgemini.com"

[ req_ext ]
subjectAltName=@alt_names

[ alt_names ]
DNS.1                           = argocd-capwiki.corp.capgemini.com
DNS.2                           = dev-argocd-capwiki.corp.capgemini.com
DNS.3                           = test-argocd-capwiki.corp.capgemini.com
DNS.4                           = prod-argocd-capwiki.corp.capgemini.com
DNS.5                           = dev1-argocd-capwiki.corp.capgemini.com
DNS.6                           = dev2-argocd-capwiki.corp.capgemini.com
