doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta(name='theme-color', content='#009688')
		meta(name='msapplication-TileColor', content='#009688')
		title= appconfig.title

		// Favicon
		each favsize in [32, 96, 16]
			link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize href='/images/favicon-' + favsize + 'x' + favsize + '.png')

		// CSS
		link(type='text/css', rel='stylesheet', href='/css/libs.css')
		link(type='text/css', rel='stylesheet', href='/css/app.css')

		block head

	body
		#root
			include ./common/header
			include ./common/alerts
			main
				block content
			include ./common/footer

		block outside