extends master.pug

block body
  #root.is-fullscreen
    .app-error
      a(href='/')
        img(src='/_assets/svg/logo-wikijs.svg')
      strong Oops, something went wrong...
      span= message
            
      if error.stack
        pre: code #{error.stack}

      block scripts
        script.
          // JavaScript function to redirect to '/' after 4000 milliseconds
          setTimeout(function() {
            window.location.href = '/';
          }, 4000);
