doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="icon" href="/favicon.ico")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    title Wiki.js
    link(href="/_assets/fonts/roboto/roboto.css" rel="stylesheet")
    style(lang='text/scss').
      body {
        margin: 0;
        font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
      .errorpage {
        background:#070a0d radial-gradient(ellipse,#161b22,#070a0d);
        color:#fff;
        height:100vh;
      }
      .errorpage-bg {
        position:absolute;
        top:50%;
        left:50%;
        width:320px;
        height:320px;
        background:linear-gradient(0,transparent 50%,#c62828 50%);
        border-radius:50%;
        filter:blur(80px);
        transform:translate(-50%,-50%);
        visibility:hidden;
      }
      .errorpage-content {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      }
      .errorpage-code {
        font-size:12rem;
        line-height:12rem;
        font-weight:700;
        background:linear-gradient(45deg,#c62828,#ef9a9a);
        -webkit-background-clip:text;
        background-clip:text;
        -webkit-text-fill-color:transparent;
        -webkit-user-select:none;
        user-select:none;
      }
      .errorpage-title {
        font-size:80px;
        font-weight:500;
        line-height:80px;
      }
      .errorpage-hint {
        font-size:1.2rem;
        font-weight:500;
        color:#ef9a9a;
        line-height:1.2rem;
        margin-top:1rem;
      }
      .errorpage-pre {
        margin-top: 28px;
        color: rgba(255,255,255,.5);
      }
  body
    .errorpage
      .errorpage-bg
      .errorpage-content
        .errorpage-code 500
        .errorpage-title Server Error
        .errorpage-hint= message
        if error.stack
          pre.errorpage-pre: code #{error.stack}
