extends ./master.pug

block body
  body
    #root.has-stickynav(class=['is-primary-' + appconfig.theme.primary, 'is-alternate-' + appconfig.theme.alt])
      include ./common/header.pug
      alert
      main
        block content
      include ./common/footer.pug

    block outside
