.contents details[open] {
  background-color: #fff!important
}
.contents details {
  border: 0!important
}
.contents table {
  border-collapse: collapse!important
}
.mad-cm-lnk-active {
  background: rgba(255,255,255,.16);
  box-shadow: inset 4px 0 0 rgba(255,255,255,.4)
}
.mad-cm-lnk-active2 {
  background: rgba(255,255,255,.24);
  box-shadow: inset 4px 0 0 rgba(255,255,255,.64)!important
}
.mad-cm-collapsible {
  cursor: default;
  font-size: 13px!important;
  font-weight: 500!important;
  color: #fff!important
}
.mad-cm-collapsible:hover {
  background: rgba(255,255,255,.08);
  cursor: pointer
}
.mad-cm-collapsible-active {
  box-shadow: inset 4px 0 0 rgba(255,255,255,.4);
  transition-delay: 0s
}
.mad-cm-collapsible-inactive {
  box-shadow: inset 4px 0 0 rgba(255,255,255,0);
  transition-delay: 0.25s
}
.mad-cm-section {
  background: rgba(255,255,255,.08);
  box-shadow: inset 4px 0 0 rgba(255,255,255,.4);
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1)
}
.expanded {
  box-shadow: inset 4px 0 0 rgba(255,255,255,.4);
  max-height: 99em;
  transition: max-height 1.5s ease-in-out
}
.mb {
  opacity: 1;
  left: 4px!important;
  top: 67px!important;
  transform-origin: center center
}
.mad-pmb {
  opacity: 1;
  left: 234px!important;
  top: 67px!important;
  transform-origin: center center
}
.mad-nav-hidden {
  visibility: hidden!important;
  transform: translateX(-100%)!important;
  transition: transform .5s ease-in .2s,visibility 0s .75s!important
}
.mad-nav-visible {
  visibility: visible;
  transform: translateX(0);
  transition: transform .75s ease-out!important
}
.flyout {
  position: relative;
  display: inline-block
}
.flyout-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  z-index: 1
}
.flyout-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block
}
.flyout-content a:hover {
  background-color: #ddd
}
.flyout:hover .flyout-content {
  display: block
}
.flyout:hover .flybtn {
  background-color: #3e8e41
}
.faccordion p {
  font-size: 1.1em;
  margin: 1em 0
}
.faccordion ul {
  padding: 0
}
.faccordion li {
  margin: .5em 0;
  padding-right: 10em
}
.faccordion li:before {
  content: none!important
}
.faccordion li > h1.collapsed:before,
.faccordion li > h2.collapsed:before,
.faccordion li > h3.collapsed:before,
.faccordion li > h4.collapsed:before,
.faccordion li > h5.collapsed:before,
.faccordion li > h6.collapsed:before {
  content: "\2B9E ";
  border-right: .1em solid rgba(255,0,255,0)
}
.faccordion li > h1.expanded:before,
.faccordion li > h2.expanded:before,
.faccordion li > h3.expanded:before,
.faccordion li > h4.expanded:before,
.faccordion li > h5.expanded:before,
.faccordion li > h6.expanded:before {
  content: "\2B9F "
}
.faccordion li > h1.single:before,
.faccordion li > h2.single:before,
.faccordion li > h3.single:before,
.faccordion li > h4.single:before,
.faccordion li > h5.single:before,
.faccordion li > h6.single:before {
  content: ""
}
.faccordion li > h1:hover,
.faccordion li > h2:hover,
.faccordion li > h3:hover,
.faccordion li > h4:hover,
.faccordion li > h5:hover,
.faccordion li > h6:hover {
  cursor: pointer
}
.faccordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none
}