

#page-type-view > section {
	transition: background-color .5s ease;

	&.blurred {
		background-color: mc('grey', '50');
	}

}

.sd-menus {

	width: 300px;

}

.menu {
	.menu-list a, .menu-nav a {
		display: flex;
		align-items: center;
	}

	.menu-list .icon {
		margin-right: 8px
	}
}

.section.is-small {
	padding: 20px 20px;
}

.mkcontent {

	h1 {
		border-bottom: 1px dotted mc('blue', '500');
		padding-bottom: 4px;
		font-weight: 400;
		color: desaturate(mc('blue', '500'), 20%);
	}

	h2 {
		border-bottom: 1px dotted mc('grey', '100');
		padding-bottom: 4px;
		font-weight: 400;
		color: desaturate(mc('purple', '500'), 20%);
	}

	a.toc-anchor {
		font-size: 80%;
		color: mc('blue', '500');
		border-bottom: none;

		&:visited {
			color: mc('purple', '500') !important;
		}

	}

	a.external-link {
		position: relative;
		padding-left: 20px;

		&:before {
			content: "\f08e";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: mc('grey', '500');
			font-size: 14px;
			position: absolute;
			top: 0;
			left: 0;
		}

	}

	pre {
		padding: 0;
		font-family: $core-font-monospace;

		> code {
			box-shadow: inset 0 0 5px 0 mc('grey', '100');
			border-radius: 5px;
		}

	}

	pre + p {
		padding-top: 1em;
	}

	img.right {
		float:right;
	}

	img.pagelogo {
		float: right;
		margin-top: -75px;
		max-width: 200px;
		background-color: #FFF;
	}

	strong {
		color: mc('grey', '700');
	}

	.twa {
		font-size: 120%;
	}

	table thead th {
		background-color: mc('blue', '500');
		color: #FFF;
		border-color: #FFF;
		border-bottom-color: mc('blue', '500');
		border-top-color: mc('blue', '500');

		&:first-child {
			border-left-color: mc('blue', '500');
		}

		&:last-child {
			border-right-color: mc('blue', '500');
		}

	}

}

.content a:not(.button):visited {
  color: mc('teal', '500');
  font-weight: 500;
}

code {
	font-weight: 500;
	color: mc('purple', '500');
}

p code {
	padding: 2px 5px;
	border-radius: 4px;
}