
// Roboto
// by Christian Robertson
// Apache 2.0 License

// -> Thin

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

// -> Light

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

// -> Regular

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

// -> Medium

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

// -> Bold

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

// -> Black

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}