
#header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
}

#header {
	z-index: 5;
}

#notifload {
	width: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity .5s ease;

	&::before {
		content: " ";
		@include spinner(mc('indigo', '100'),0.5s,24px);
	}

	&.is-active {
		opacity: 1;
	}

}

#search-input {
	max-width: 300px;
	width: 33vw;
}
