
.modal#modal-admin-users-create
  .modal-background
  .modal-container
    .modal-content
      header.is-blue
        span Create / Authorize User
        p.modal-notify(v-bind:class='{ "is-active": loading }'): i
      section
        label.label Email address:
        p.control.is-fullwidth
          input.input(type='text', placeholder='e.g. john.doe@company.com', v-model='email')
      section
        label.label Provider:
        p.control.is-fullwidth
          select(v-model='provider')
            option(value='local') Local Database
            if appconfig.auth.microsoft.enabled
              option(value='windowslive') Microsoft Account
            if appconfig.auth.google.enabled
              option(value='google') Google ID
            if appconfig.auth.facebook.enabled
              option(value='facebook') Facebook
            if appconfig.auth.github.enabled
              option(value='github') GitHub
            if appconfig.auth.slack.enabled
              option(value='slack') Slack
      section(v-if='provider=="local"')
        label.label Password:
        p.control.is-fullwidth
          input.input(type='password', placeholder='', v-model='password')
      section(v-if='provider=="local"')
        label.label Full Name:
        p.control.is-fullwidth
          input.input(type='text', placeholder='e.g. John Doe', v-model='name')
      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Discard
        a.button(v-on:click='create', v-if='provider=="local"', v-bind:disabled='loading', v-bind:class='{ "is-disabled": loading, "is-blue": !loading }') Create User
        a.button(v-on:click='create', v-if='provider!="local"', v-bind:disabled='loading', v-bind:class='{ "is-disabled": loading, "is-blue": !loading }') Authorize User
