.modal#modal-admin-users-delete
  .modal-background
  .modal-container
    .modal-content
      header.is-red
        span Delete User Account?
        p.modal-notify(v-bind:class='{ "is-active": loading }'): i
      section
        span Are you sure you want to delete this user account? This action cannot be undone!
      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Abort
        a.button.is-red(v-on:click='deleteUser') Delete
