
.modal#modal-editor-video
  .modal-background
  .modal-container
    .modal-content
      header.is-green Insert Video Player
      section
        label.label Enter the link to the video to be embedded:
        p.control.is-fullwidth
          input.input(type='text', placeholder='https://www.youtube.com/watch?v=xxxxxxxxxxx', v-model='link')
          span.help.is-red.is-hidden This URL is invalid or not supported!
        .note The following are supported:
          ul
            li
              i.icon-youtube-play
              span Youtube
            li
              i.icon-vimeo
              span Vimeo
            li
              i.icon-film
              span Dailymotion
            li
              i.icon-video
              span Any standard MP4 file
      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Discard
        a.button.is-green(v-on:click='insertVideo') Insert Video
