// By fa93hws (wjun0912@gmail.com)
.modal#modal-editor-table
  .modal-background
  .modal-container
    .modal-content.is-expanded
      
      header.is-green
        span Insert Table

      section.is-gapless
        .columns.is-stretched
          .column.is-one-quarter.modal-sidebar.is-green(style={'max-width':'350px'})
            .model-sidebar-header Size Control
            .model-sidebar-content
              <table style>
                <tr><td rowspan = "2">rows</td><td rowspan = "2"> <input type="text" v-model = row> </td><td class = "clickable" v-on:click="rowAdd">+</td></tr>
                <tr><td class = "clickable" v-on:click="rowMinus">-</td></tr>
                <tr><td rowspan = "2">columns</td><td rowspan = "2"> <input type="text" v-model = col> </td><td class = "clickable" v-on:click="colAdd">+</td></tr>
                <tr><td class = "clickable" v-on:click="colMinus">-</td></tr>
                <tr><td></td><td class = "clickable" v-on:click="setTableSize">Set</td><td></td></tr>
              </table>
          #table-editor.table-editor

      footer
        a.button.is-grey.is-outlined(v-on:click='cancel') Discard
        a.button.is-green(v-on:click='insertTable') Insert Table
