.ty-image-wrapper {
  @include elevation(2);
  display: inline-block;
  overflow: hidden;
  margin: 12px 0;
  border-radius: 4px;
  position: relative;
  text-decoration: none;
  color: currentColor;

  img {
    display: block;
  }

  ol &,
  ul & {
    margin: 0;
  }
}

.ty-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  transition-duration: .3s;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  pointer-events: none;

  a, button {
    pointer-events: all;
    color: currentColor !important;
  }
}

.ty-image-wrapper:hover .ty-image-overlay {
  opacity: 1;
  visibility: visible;
}
