.login {
  background-size: cover;
  background-position: center center;
  background-image: url('../images/bg.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
    display: flex;
    width: 450px;
    align-items: stretch;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &.is-expanded {
      width: 650px;
    }

    @include until($tablet) {
      width: 350px;

      &.is-expanded {
        width: 400px;
      }
    }
  }

  &-error {
    position: absolute;
    bottom: 100%;
    width: 100%;
    min-height: 50px;
    background-image: radial-gradient(ellipse at top left, rgba(mc('red', '900'),.9) 0%,rgba(mc('red', '400'),.8) 100%);
    border: 1px solid #FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      padding: 0 1rem 0 0;
      border-right: 1px solid #FFF;
    }
    span {
      padding: 0 0 0 1rem;
      display: block;
    }
  }

  &-providers {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #FFF;
    background-color: mc('grey', '900');
    z-index: 1;

    @include until($tablet) {
      width: 50px;
    }

    button {
      flex: 1 1;
      padding: 5px 15px;
      border: none;
      color: #FFF;
      background-color: mc('grey', '800');
      border-top: 1px solid mc('grey', '900');
      font-family: $core-font-standard;
      font-weight: 600;
      text-align: left;
      min-height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: all .4s ease;

      @include until($tablet) {
        justify-content: center;
      }

      &:hover {
        background-color: mc('grey', '600');
      }

      &:first-child {
        border-top: none;
      }

      &.is-active {
        background-color: mc('grey', '100');
        background-image: radial-gradient(circle at top left, rgba(mc('grey', '200'),1) 0%,rgba(255,255,255,1) 100%);
        color: mc('grey', '700');
      }

      i {
        margin-right: 10px;
        font-size: 16px;

        @include until($tablet) {
          margin-right: 0;
          font-size: 20px;
        }
      }

      svg {
        margin-right: 10px;
        width: auto;
        height: 20px;
        max-width: 18px;
        max-height: 20px;

        path {
          fill: #FFF;
        }

        @include until($tablet) {
          margin-right: 0;
          font-size: 20px;
        }
      }

      span {
        font-weight: 600;

        @include until($tablet) {
          display: none;
        }
      }
    }
  }

  &-frame {
    background-image: radial-gradient(circle at top left, rgba(255,255,255,1) 0%,rgba(240,240,240,.6) 100%);
    border: 1px solid #FFF;
    width: 400px;
    padding: 1rem;
    color: mc('grey', '700');
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include until($tablet) {
      width: 350px;
    }

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: mc('grey', '700');
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 300;
      color: mc('grey', '700');
      padding: 0;
      margin: 0 0 25px 0;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input[type=text], input[type=password] {
      width: 100%;
      border: 1px solid #FFF;
      border-radius: 3px;
      background-color: rgba(255,255,255,.7);
      padding: 0 15px;
      height: 40px;
      margin: 0 0 10px 0;
      color: mc('grey', '700');
      font-weight: 600;
      font-size: .8rem;
      transition: all 0.4s ease;
      text-align: center;

      &:focus {
        outline: none;
        border-color: mc('grey','400');
      }

    }

  }

  &-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 10vh;
    width: 100%;
    z-index: 2;
    color: #FFF;
    font-weight: 400;
    text-shadow: 1px 1px 0 #000;

    a {
      font-weight: 600;
      color: #FFF;
      margin-left: .25rem;
    }

  }
}
