.login {
  background-size: cover;
  background-position: center center;
  background-image: url('../images/bg.jpg');
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    width: 650px;
    align-items: stretch;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  &-providers {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #FFF;
    background-color: mc('grey', '900');
    z-index: 1;

    button {
      flex: 1 1;
      padding: 0 15px;
      border: none;
      color: #FFF;
      background-color: mc('grey', '800');
      border-top: 1px solid mc('grey', '900');
      font-family: $core-font-standard;
      font-weight: 600;
      text-align: left;
      min-height: 40px;

      &:first-child {
        border-top: none;
      }

      &.is-active {
        background-color: mc('grey', '100');
        background-image: radial-gradient(circle at top left, rgba(mc('grey', '200'),1) 0%,rgba(255,255,255,1) 100%);
        color: mc('grey', '700');
      }

      i {
        margin-right: 10px;
        font-size: 16px;
      }

      span {
        font-weight: 600;
      }
    }
  }

  &-frame {
    background-image: radial-gradient(circle at top left, rgba(255,255,255,1) 0%,rgba(240,240,240,.6) 100%);
    border: 1px solid #FFF;
    width: 450px;
    padding: 1rem;
    color: mc('grey', '700');
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: mc('grey', '700');
      padding: 0;
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 300;
      color: mc('grey', '700');
      padding: 0;
      margin: 0 0 25px 0;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: normal;
      color: #FB8C00;
      padding: 0;
      margin: 0;
      animation: shake 1s ease;

      > .fa {
        margin-right: 7px;
      }

    }

    h4 {
      font-size: .8rem;
      font-weight: normal;
      color: rgba(255,255,255,0.7);
      padding: 0;
      margin: 0 0 15px 0;
      animation: fadeIn 3s ease;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input[type=text], input[type=password] {
      width: 100%;
      border: 1px solid #FFF;
      border-radius: 3px;
      background-color: rgba(255,255,255,.7);
      padding: 0 15px;
      height: 40px;
      margin: 0 0 10px 0;
      color: mc('grey', '700');
      font-weight: 600;
      font-size: .8rem;
      transition: all 0.4s ease;
      text-align: center;

      &:focus {
        outline: none;
        border-color: mc('grey','400');
      }

    }

  }

  &-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 10vh;
    width: 100%;
    z-index: 2;
    color: #FFF;
    font-weight: 400;
    text-shadow: 1px 1px 0 #000;

    .icon {
      font-size: 1.2rem;
      margin: 0 8px;
    }

    a {
      font-weight: 600;
      color: #FFF;
    }

  }
}
