footer.footer
	.container
		.content.has-text-centered
			p
				= t('footer.poweredby') + ' '
				a(href='https://github.com/Requarks/wiki') Requarks Wiki
				| .
				p
					a.icon(href='https://github.com/Requarks/wiki')
						i.fa.fa-github
