@import "global";

@import "base/base";
@import "base/icons";

@import "../libs/animate/animate";
@import '~vue2-animate/src/sass/vue2-animate';

@import 'components/v-btn';
@import 'components/v-data-table';
@import 'components/v-dialog';
@import 'components/vue-tree-navigation';

@import 'layout/md2';

// @import '../libs/twemoji/twemoji-awesome';
@import '../libs/prism/prism.css';
@import '~vue-tour/dist/vue-tour.css';
@import '~vue-status-indicator/styles.css';
@import '~xterm/dist/xterm.css';
// @import 'node_modules/diff2html/dist/diff2html.min';

@import 'pages/new';
@import 'pages/welcome';
@import 'pages/error';

@import 'layout/_rtl';

@import 'base/print';
