@charset "utf-8";

$primary: 'indigo';

@import "base/variables";
@import "base/colors";
@import "base/reset";
@import "base/mixins";
@import "base/fonts";
@import "base/base";

@import "libs/animate";

@import 'components/alert';
@import 'components/button';
@import 'components/collapsable-nav';
@import 'components/color-picker';
@import 'components/footer';
@import 'components/form';
@import 'components/grid';
@import 'components/hero';
@import 'components/history';
@import 'components/markdown-content';
@import 'components/modal';
@import 'components/nav';
@import 'components/panel';
@import 'components/search';
@import 'components/sidebar';
@import 'components/table';
@import 'components/toggle';
@import 'components/typography';

@import 'libs/nucleo-icons';
@import 'libs/twemoji-awesome';
@import 'libs/jquery-contextmenu';
@import 'node_modules/highlight.js/styles/atom-one-dark';
@import 'node_modules/simplemde/dist/simplemde.min';
@import 'node_modules/diff2html/dist/diff2html.min';

@import 'components/editor';

@import 'layout/_header';
@import 'layout/_loader';

@import 'pages/_welcome';

@import 'base/print';
