@import "global";

@import "base/base";
@import "base/icons";
@import "base/animation";

@import '~vuescroll/dist/vuescroll.css';
@import '~katex/dist/katex.min.css';
@import '~diff2html/bundles/css/diff2html.min.css';

@import 'components/codemirror';
@import 'components/katex';
@import 'components/v-btn';
@import 'components/v-data-table';
@import 'components/v-dialog';
@import 'components/v-form';
@import 'components/v-tabs';

// @import '../libs/twemoji/twemoji-awesome';
// @import '../libs/prism/prism.css';
// @import '~vue-tour/dist/vue-tour.css';
// @import '~xterm/dist/xterm.css';
// @import 'node_modules/diff2html/dist/diff2html.min';

@import 'pages/new';
@import 'pages/notfound';
@import 'pages/unauthorized';
@import 'pages/welcome';
@import 'pages/error';

@import 'layout/_rtl';
