
$primary: 'indigo';

@import 'core-client/scss/core';
@import 'core-client/scss/components/button';
@import 'core-client/scss/components/footer';
@import 'core-client/scss/components/form';
@import 'core-client/scss/components/grid';
@import 'core-client/scss/components/modal';
@import 'core-client/scss/components/nav';
@import 'core-client/scss/components/panel';
@import 'core-client/scss/components/typography';

.welcome {
	text-align: center;
	padding: 25px 0 0;
	color: mc('grey', '700');

	h1 {
		margin-top: 5px;
	}

	h2 {
		margin: 0;
	}

}

i.icon-loader {
  display: inline-block;
  color: mc('indigo', '500')
}
i.icon-check {
  color: mc('green', '500')
}
i.icon-square-cross {
  color: mc('red', '500')
}

.tst-welcome-leave-active {
  transition: all .5s;
  overflow-y: hidden;
}
.tst-welcome-leave {
  opacity: 1;
  max-height: 200px;
}
.tst-welcome-leave-to {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
}
