
$primary: 'indigo';

@import 'core-client/scss/core';
@import 'core-client/scss/components/button';
@import 'core-client/scss/components/grid';
@import 'core-client/scss/components/typography';

@import 'core-client/scss/pages/error';
