@import "global";

@import "./base/icons.scss";

html {
  box-sizing: border-box;
  background-color: mc('grey', '50');
  font-size: 14px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

// LOGIN

.login {
  background-color: mc('grey', '900');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-deprecated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: mc('grey', '800');
    text-align: center;
    color: mc('grey', '50');
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: mc('red', '200');
      margin-left: 5px;
    }
  }

  &-error {
    background-color: mc('red', '500');
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  &-dialog {
    width: 650px;
    background-color: mc('grey', '100');
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    color: mc('grey', '800');

    h1 {
      margin-bottom: 2rem;
    }

    input, select {
      display: block;
      background-color: #FFF;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 40px;
      padding: 0 1rem;
      margin: 5px 0;
    }

    button {
      height: 40px;
      display: block;
      width: 200px;
      border: none;
      border-radius: 5px;
      margin: 0 auto;
      background-color: mc('blue', '700');
      color: #FFF;
      cursor: pointer;
      margin-top: 1rem;
      font-weight: 600;

      &:hover {
        background-color: mc('blue', '800');
      }
    }
  }

  &-social {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid mc('grey', '400');

    h2 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 54px;
      height: 54px;
      cursor: pointer;
      transition: opacity .2s ease;
      margin: .5rem .25rem;
      &:hover {
        opacity: .8;
      }
      svg {
        width: 24px;
        height: 24px;
        bottom: 0;
        path {
          fill: #FFF;
        }
      }

      @each $colorName, $color in $material-colors {
        &.#{$colorName} {
          background-color: map-get($color, '500');
        }
      }
    }
  }
}

// PAGE

.header {
  background-color: #000;
  color: #FFF;
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .02em;
  }

  &-deprecated {
    color: mc('red', '100');

    a {
      color: mc('pink', '400');
    }
  }

  &-login {
    a {
      text-decoration: none;
      color: #FFF;
      transition: color .3s ease;
      border-radius: 50%;
      background-color: mc('grey', '900');
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;

      &:hover {
        color: mc('blue', '500');
      }
    }
  }
}

.main {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 64px);
  height: 50vh;

  &-container {
    flex-grow: 1;
  }
}

.sidebar {
  width: 300px;
  background-color: mc('blue', '700');
  color: #FFF;
  padding: 8px 0;

  .sidebar-link {
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    transition: background .3s cubic-bezier(.25,.8,.5,1);
    font-weight: 400;
    color: #FFF;
    text-decoration: none;

    &:hover {
      background: hsla(0,0%,100%,.08);
    }
  }

  i.material-icons {
    width: 56px;
    padding-left: 8px;
  }

  .sidebar-divider {
    border-top: 1px solid hsla(0,0%,100%,.12);
    margin: 8px 0;
  }

  .sidebar-title {
    font-size: 13px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 16px 0 24px;
    font-weight: 500;
    color: hsla(0,0%,100%,.7);
  }
}

.page-header {
  background-color: mc('grey', '100');
  padding: 0 24px;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid mc('grey', '200');

  h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: mc('grey', '800');
  }

  h2 {
    color: mc('grey', '600');
    font-size: 12px;
    font-weight: 400;
  }

  &-left {
    flex-grow: 1;
  }

  &-right {
    flex: 0 0 308px;
    padding-left: 16px;

    &-title {
      color: mc('grey', '500');
      font-size: 12px;
    }
    &-author {
      color: mc('grey', '800');
      font-weight: 500;
    }
    &-updated {
      color: mc('grey', '600');
      font-size: 12px;
    }
  }
}

.page-contents {
  display: flex;
}

.toc {
  flex: 0 0 348px;
  background-color: mc('grey', '200');
  padding: 4px 0;

  &-title {
    font-size: 13px;
    height: 40px;
    display: flex;
    color: mc('blue', '600');
    align-items: center;
    font-weight: 500;
    padding: 0 16px;
  }

  &-tile {
    text-decoration: none;
    height: 40px;
    display: flex;
    font-size: 13px;
    align-items: center;
    padding: 0 16px;
    color: mc('grey', '800');
    transition: background-color .3s ease;

    &.inset {
      padding-left: 32px;
    }

    &:hover {
      background-color: rgba(0,0,0,.06);
    }
  }

  &-divider {
    border-top: 1px solid rgba(0,0,0,.12);
    margin: 0 0 0 24px;

    &.inset {
      margin-left: 40px;
    }
  }
}

@import "../themes/default/scss/app.scss";

.contents {
  flex-grow: 1;
}
