#alerts {
	position: fixed;
	top: 60px;
	right: 10px;
	width: 350px;
	z-index: 2;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);

	.notification {
		animation: 0.5s ease slideInRight;
		margin-top: 5px;

		&.exit {
			animation: 0.5s ease fadeOutRight;
		}

	}

	h3 {
		font-size: 16px;
		font-size: 500;
	}

}