
.editor-toolbar {
	z-index: 2;
	background-color: rgba(0,0,0,0.75);
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	opacity: 1;
	position: fixed;
	top: 51px;
	left: 0;
	width: 100%;

	&:hover {
		opacity: 1;
	}

	a {
		color: #FFF !important;
		border: none;
		transition: background-color 0.4s ease;

		&.active, &:hover, &:focus {
			background-color: rgba(0,0,0,0.5);
			outline: none;
		}

	}

	i.separator {
		margin-top: 5px;
		border-left-color: #000;
		border-right-color: #AAA;
	}

}

.editor-modal-load {

	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity .5s ease;

	span {
		font-size: 12px;
		color: mc('blue', '500');
	}

	i {
		margin-left: 10px;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: " ";
			@include spinner(mc('blue', '500'),0.5s,24px);
		}
	}

	&.is-active {
		opacity: 1;
	}

}

#btn-editor-uploadimage {
	position: relative;
	overflow: hidden;

	> label {
		display: block;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;

		input[type=file] {
			opacity: 0;
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

	}

	

}

.editor-modal-imagechoices {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-height: 450px;
	overflow: auto;
	overflow-x: hidden;

	> figure {
		display: flex;
		flex-direction: column;
		background-color: #FAFAFA;
		border-radius: 5px;
		padding: 5px;
		width: 160px;
		min-height: 205px;
		margin: 0 5px 10px 5px;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		transition: background-color 0.4s ease;

		> img {
			border: 1px solid #DDD;
			border-radius: 5px;
			padding: 2px;
			background-color: #FFF;
			margin: 0 0 5px 0;
		}

		> span {
			font-size: 12px;
			
			> strong {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: block;
				width: 150px;
				text-align: center;
			}

		}

		&:hover {
			background-color: #DDD;
		}

		&.is-active {
			background-color: mc($primary, '500');
			color: #FFF;

			> img {
				border-color: darken(mc($primary, '500'), 10%);
			}

			> span > strong {
				color: #FFF;
			}

		}

		&.is-contextopen {
			background-color: mc('orange', '500');
			color: #FFF;

			> img {
				border-color: darken(mc('orange', '500'), 10%);
			}

			> span > strong {
				color: #FFF;
			}

		}

	}

}

.editor-modal-imagealign {

	.control > span {
		letter-spacing: 1px;
    text-transform: uppercase;
    color: #aeb1b5;
    font-size: 11px;
	}

	> .is-grouped {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.button > .icon {
		margin: 0;
	}

}

.editor-modal-folderlist {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.CodeMirror {
	border-left: none;
	border-right: none;
	padding-top: 52px;
	font-family: $core-font-monospace;
}

.CodeMirror .CodeMirror-code .cm-url {
	color: #00ACC1;
}
.CodeMirror .CodeMirror-code .cm-header-1 {
	color: #635c8c;
	font-size: 2em;
	font-weight: 400;
}
.CodeMirror .CodeMirror-code .cm-header-2 {
	color: #222324;
	font-size: 1.75em;
	font-weight: 300;
}
.CodeMirror .CodeMirror-code .cm-header-3 {
	color: #222324;
	font-size: 1.5em;
	font-weight: 300;
}

.editor-toolbar .fa {
	font-size: 14px;
}

.ace-container {
	position: relative;
}

#page-type-source .ace-container {
	min-height: 95vh;
}

#modal-editor-codeblock .ace-container {
	height: 400px;
}

#source-display, #codeblock-editor {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.modallayer {
	position: fixed;
	top: 100px;
	width: 100%;
	background-color: rgba(255,255,255,0.95);
	border-bottom: 1px solid mc('grey', '500');
	z-index: 6;
	padding: 20px;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 2px 3px rgba(17,17,17,.1);
	display: none;

	> h3, .column > h3 {
		color: mc('grey', '700');
		font-size: 24px;
		font-weight: 300;
	}

}

.modallayer-content {
}