.config-manager {
  background-image: linear-gradient(to right, mc('indigo', '400'), mc('indigo', '600'));
  width: 100%;
  min-height: 100%;
  padding-top: 1rem;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../svg/login-bg.svg');
    background-position: center bottom;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .welcome {
    text-align: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid mc('indigo', '50');
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      color: mc('indigo', '700');
      font-weight: 500;
    }

  }

  i.icon-loader {
    display: inline-block;
    color: mc('indigo', '500')
  }
  i.ui-1_check-simple {
    color: mc('green', '500')
  }
  i.ui-2_ban-bold {
    color: mc('red', '500')
  }
  i.icon-warning-outline {
    color: mc('orange', '500')
  }

  .progress-bar {
    width: 150px;
    height: 10px;
    background-color: mc('indigo', '50');
    border:1px solid mc('indigo', '100');
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 21px;
    padding: 1px;

    > div {
      width: 5px;
      height: 6px;
      background-color: mc('indigo', '200');
      border-radius: 2px;
      transition: all 1s ease;
    }

  }
}
