div.illustration {
  padding-top: 1.25rem; // depends on paragraph top margin and line-height
}
  div.illustration.left {
    width: auto;
    clear: left;
    float: left;
    margin: 0 2ex 1rem 0;
  }
  div.illustration.right {
    width: auto;
    clear: right;
    float: right;
    margin: 0 0 1rem 1.5ex; // less margin needed when
                            // figure is floating right
                            // in left-aligned text
  }


figure {
  display: table-cell !important;
  background: rgb(238, 238, 238); // should use theme color
  width: 0;
  padding: 1ex;
}
  figure > img {
    display: block;
    max-width: none !important;
  }
  figcaption {
    margin-top: 0.75rem;
    font-size: 0.75rem;

    label {
      font-style: italic;
    }

  }
