.markdown-content {
  font-size: 1rem;
  color: mc('blue-grey', '800');

  // --------------------------------------------
  // Headers
  // --------------------------------------------

  h1, h2, h3, h4, h5, h6 {
    color: mc('blue-grey', '700');
    font-weight: 500;
  }

  > * + h1, > * + h2, > * + h3, > * + h4 {
    margin-top: 3rem;
  }
  h1 {
    font-size: 1.5rem;
    border-bottom: 2px solid mc('blue-grey', '100');
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.25rem;
    border-bottom: 1px solid mc('blue-grey', '100');
    margin-bottom: .75rem;
  }
  h3 {
    font-size: 1.15rem;
    border-bottom: 1px dotted mc('blue-grey', '100');
    margin-bottom: .5rem;
    color: mc('blue-grey', '500');
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  h6 {
    font-size: 1.025rem;
  }

  // --------------------------------------------
  // Paragraphs
  // --------------------------------------------
  p + p {
    margin-top: 1rem;
  }

  // --------------------------------------------
  // Lists
  // --------------------------------------------
  ul, ol {
    & + p {
      margin-top: .5rem;
    }
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  // --------------------------------------------
  // Code Blocks
  // --------------------------------------------
  > pre {
    border: none;
    border-radius: 5px;
    box-shadow: initial;
    background-color: mc('blue-grey', '900');
    padding: 1rem 1rem 1rem 3rem;

    > code {
      box-shadow: initial;
      display: block;
      font-size: .85rem;
      font-family: 'Source Code Pro', monospace;

      &:after, &:before {
        content: initial;
        letter-spacing: initial;
      }
    }
  }

  .task-list-item {
    display: flex;
    align-items: center;

    &-checkbox {
      margin-right: .5rem;
    }
  }
}
