.setup {
  background-color: #1565c0;
  background-image: url('../static/svg/config-bg.svg');
  width: 100%;
  min-height: 100%;
  padding-top: 1rem;

  .welcome {
    text-align: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid mc('blue', '50');
    margin-bottom: 1rem;

    img {
      max-height: 100px;
    }

    h2 {
      margin: 0;
      color: mc('indigo', '700');
      font-weight: 500;
    }

  }

  .is-logo {
    text-align: center;
    padding: .5rem 0 1.5rem 0;
    border-bottom: 1px solid mc('blue', '50');
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 64px;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 1.5rem;
      color: mc('grey', '700');
    }
  }

  i.icon-loader {
    display: inline-block;
    color: mc('blue', '500')
  }

  .progress-bar {
    width: 150px;
    height: 10px;
    background-color: mc('indigo', '50');
    border:1px solid mc('indigo', '100');
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 21px;
    padding: 1px;

    > div {
      width: 5px;
      height: 6px;
      background-color: mc('indigo', '200');
      border-radius: 2px;
      transition: all 1s ease;
    }

  }

  footer {
    background-color: mc('blue','800');
    border-top: 1px solid mc('blue', '700');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    height: 70px;
    font-size: 13px;
    font-weight: 500;
    color: mc('blue','200');
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
