.dialog-header {
  background-color: mc('surface-light', 'secondary-blue-heavy');
  height: 60px;
  color: #FFF;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;

  &.is-red {
    background-color: mc('red', '700');
  }

  &.is-orange {
    background-color: mc('surface-light', 'notice-lite');
  }

  &.is-indigo {
    background-color: mc('blue', '800');
  }

  &.is-dark {
    background-color: mc('surface-dark', 'tertiary-neutral-lite');
  }

  &.is-teal {
    background-color: mc('teal', '700');
  }
}

.v-dialog--fullscreen {
  @include until($tablet) {
    padding-top: 56px;
  }
}
