.grad-tabs > .v-tabs-bar {
  background-image: linear-gradient(to top, rgba(#000, .025), transparent);
  border-bottom: 1px solid rgba(#000, .1);
  border-radius: 4px 4px 0 0;

  @at-root .theme--dark & {
    background-image: linear-gradient(to bottom, rgba(#FFF, .05), transparent);
    border-bottom-color: transparent;
  }
}
