.TreeNavigation.treenav {
  font-size: 13px;

  li {
    padding-left: 24px;
  }
  a {
    text-decoration: none;
    color: mc('grey', '800');
  }

  .NavigationLevel__parent {
    // font-weight:    600;
  }

  .NavigationItem {
    padding: 3px 0;
  }

  .NavigationItem--active {
    color: #42b883;
  }

  .NavigationToggle__icon {
    border-color: mc('blue', '600');
  }
}
