extends ../layout.pug

block rootNavRight
  i.nav-item#notifload

block content

  #page-type-all
    .container.is-fluid.has-collapsable-nav
      .sidebar.is-collapsed
        aside
          .sidebar-label
            span NAV
          ul.sidebar-menu
            li
              a(href='/')
                i.icon-home
                span Home
            if !isGuest
              li
                a(href='/admin')
                  i.icon-head
                  span Account
            else
              li
                a(href='/login')
                  i.icon-unlock
                  span Login
      ul.collapsable-nav.has-children
        li: a
          i.icon-file
          span Page 1
        li: a
          i.icon-file
          span Page 2
        li: a
          i.icon-file
          span Page 3
        li.is-active: a
          i.icon-folder2
          span Page 4
        li: a
          i.icon-file
          span Page 5
      ul.collapsable-nav.has-children
        li.is-title page-4
        li: a
          i.icon-file
          span Page 1
        li.is-active: a
          i.icon-file
          span Page 2
        li: a
          i.icon-file
          span Page 3
        li: a
          i.icon-file
          span Page 4
        li: a
          i.icon-file
          span Page 5
      ul.collapsable-nav.has-children
        li.is-title page-4
        li: a
          i.icon-file
          span Page 1
        li.is-active: a
          i.icon-file
          span Page 2
        li: a
          i.icon-file
          span Page 3
        li: a
          i.icon-file
          span Page 4
        li: a
          i.icon-file
          span Page 5
      ul.collapsable-nav.has-children
        li.is-title page-4
        li: a
          i.icon-file
          span Page 1
        li.is-active: a
          i.icon-file
          span Page 2
        li: a
          i.icon-file
          span Page 3
        li: a
          i.icon-file
          span Page 4
        li: a
          i.icon-file
          span Page 5
      ul.collapsable-nav
        li.is-title Sub-Pages
        li: a
          i.icon-file
          span Page 1
        li: a
          i.icon-file
          span Page 2
        li: a
          i.icon-file
          span Page 3
        li: a
          i.icon-file
          span Page 4
        li: a
          i.icon-file
          span Page 5
