extends ../layout.pug

block rootNavCenter
	h2.nav-item Create New Document

block rootNavRight
	i.nav-item#notifload
	span.nav-item
		a.button.is-warning.btn-create-discard
			span.icon
				i.fa.fa-times
			span Discard
		a.button.is-success.btn-create-save
			span.icon
				i.fa.fa-check
			span Save Document

block content

	#page-type-create(data-entrypath=pageData.meta.path)
		textarea#mk-editor= pageData.markdown

	include ../modals/create-discard.pug