extends ../layout.pug

block rootNavCenter
	h2.nav-item= pageData.meta.title

block rootNavRight
	i.nav-item#notifload
	span.nav-item
		a.button.is-warning.btn-edit-discard
			span.icon
				i.fa.fa-times
			span Discard
		a.button.is-success.btn-edit-save
			span.icon
				i.fa.fa-check
			span Save Changes

block content

	#page-type-edit(data-entrypath=pageData.meta.path)
		.editor-area
			textarea#mk-editor= pageData.markdown

	include ../modals/edit-discard.pug
	include ../modals/editor-link.pug
	include ../modals/editor-codeblock.pug