extends ../layout.pug

block rootNavCenter
	h2.nav-item= pageData.meta.title

block rootNavRight
	i.nav-item#notifload
	a.nav-item.btn-move-prompt.is-hidden
		| Move
	a.nav-item(href='/' + pageData.meta.path)
		| Normal View
	span.nav-item
		a.button.is-orange(href='/edit/' + pageData.meta.path)
			i.fa.fa-edit
			span Edit
		a.button.is-blue.btn-create-prompt
			i.fa.fa-plus
			span Create

block content

	#page-type-source(data-entrypath=pageData.meta.path)
		.ace-container
			#source-display= pageData.markdown

	include ../modals/create.pug
	include ../modals/move.pug
