extends ../layout

mixin tocMenu(ti)
	each node in ti
		li
			a(href='#' + node.anchor, title=node.content)= node.content
			if node.nodes.length > 0
				ul
					+tocMenu(node.nodes)

block content

	section.section
		.container.is-fluid
			.columns

				.column.is-narrow

					.box
						aside.menu(style= { 'min-width': '200px' })
							p.menu-label
								| Navigation
							ul.menu-list
								li
									a(href='/') Home
								li
									a(href='/account') Account
					.box
						aside.menu(style= { 'min-width': '200px' })
							p.menu-label
								| Contents
							ul.menu-list
								+tocMenu(pageData.tree)

				.column

					h1.title= pageData.title
					h2.subtitle
						| Primary bold subtitle
					.content
						!= pageData.html

