extends ../layout

mixin tocMenu(ti)
	each node in ti
		li
			a(href='#' + node.anchor, title=node.content)= node.content
			if node.nodes.length > 0
				ul
					+tocMenu(node.nodes)

block content

	section.section
		.container.is-fluid
			.columns

				.column.is-narrow

					.box
						aside.menu(style= { 'min-width': '200px' })
							p.menu-label
								| Navigation
							ul.menu-list
								li
									a(href='/') Home
								li
									a(href='/account') Account
					.box.stickyscroll(data-margin-top=70)
						aside.menu(style= { 'min-width': '200px' })
							p.menu-label
								| Contents
							ul.menu-list
								a(href='#root', title='Start') Start
								+tocMenu(pageData.tree)

				.column

					h1.title#title= pageData.title
					if pageData.subtitle
						h2.subtitle= pageData.subtitle
					.content.mkcontent
						!= pageData.html

