extends ../layout.pug

block rootNavCenter

block rootNavRight
  i.nav-item#notifload

block content

  #page-type-welcome
    .container
      .welcome
        img(src='/favicons/android-icon-144x144.png', alt='Wiki.js')
        h1 Welcome to your Wiki.js!
        h2 Let's get started and create the home page.
        a.button.is-indigo(href='/create/home') Create Home Page
