extends ../master.pug

block body
  body
    #app.is-fullscreen
      v-app
        .onboarding
          img(src='/svg/logo-wikijs.svg', alt='Wiki.js')
          h1= t('welcome.title')
          h2= t('welcome.subtitle')
          v-btn(color='primary', href='/e/home')= t('welcome.createhome')
