#alerts
  ul
    template(v-for='aItem in children', track-by='_uid')
      li(v-bind:class='aItem.class')
        button(v-on:click='acknowledge(aItem._uid)')
        strong {{ aItem.title }}
        span {{ aItem.message }}

if appflash.length > 0
  script(type='text/javascript').
    var alertsData = !{JSON.stringify(appflash)};
else
  script(type='text/javascript').
    var alertsData = [];
