footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span
    = t('footer.poweredby') + ' '
    a(href='https://github.com/Requarks/wiki') Wiki.js
    | .
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
