
#header-container
  nav.nav#header(class=['is-' + appconfig.theme.primary], ref='header')
    .nav-left
      block rootNavLeft
        a.nav-item(href='/')
          h1
            i.nc-icon-outline.ui-2_layers
            = appconfig.title
    .nav-center
      block rootNavCenter
        search
    span.nav-toggle
      span
      span
      span
    .nav-right
      block rootNavRight
        loading-spinner
