extends ./_layout.pug

block adminContent
	.hero
		h1.title#title My Profile
		h2.subtitle Profile and authentication info
	.form-sections
		.columns.is-gapless
			.column.is-two-thirds
				section
					label.label Email
					p.control.is-fullwidth
						input.input(type='text', placeholder='Email', value=user.email, disabled=(user.provider !== 'local'))
				if user.provider == 'local'
					section
						label.label Password
						p.control.is-fullwidth
							input.input(type='password', placeholder='Password', value='********')
					section
						label.label Verify Password
						p.control.is-fullwidth
							input.input(type='password', placeholder='Password', value='********')
				section
					label.label Display Name
					p.control.is-fullwidth
						input.input(type='text', placeholder='John Smith', value=user.name)
				section
					button.button.is-green
						i.icon-check
						span Save Changes
			.column
				.panel
					label.label Provider
					p.control.account-profile-provider
						case user.provider
							when 'local': i.fa.fa-database
							when 'windowslive': i.fa.fa-windows.is-blue
							when 'google': i.fa.fa-google.is-blue
							when 'facebook': i.fa.fa-facebook.is-purple
							default: i.fa.fa-question-circle
						= t('auth:providers.' + user.provider)
					label.label Member since
					p.control= userMoment(user.createdAt).format('LL')
					label.label Last Profile Update
					p.control= userMoment(user.updatedAt).format('LL')