extends ./_layout.pug

block adminContent
	section.section
		.container
			label.label Entries
			p.control= totalEntries
			label.label Uploads
			p.control= totalUploads
			label.label Users
			p.control= totalUsers