extends ./_layout.pug

block adminContent
	.hero
		h1.title#title Users
		h2.subtitle Manage users and rights
		ul.hero-menu
				li
					a.is-blue(href='/')
						i.icon-plus
						span Create Local User
				li
					a.is-indigo(href='/')
						i.icon-globe
						span Authorize Social User
	.form-sections
		section
			| Coming soon