extends ./_layout.pug

block adminContent
	section.section
		.container
			.columns
				.column.is-three-quarters
					label.label Coming soon
				.column
					p.control
						button.button.is-info
							| Create Local User
					p.control
						button.button.is-info
							| Authorize Social User