/* THEME SPECIFIC STYLES */

.contents {
  color: mc('grey', '800');
  padding-bottom: 50px;

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    &:hover {
      .toc-anchor {
        display: block;
      }
    }

    .toc-anchor {
      display: none;
      position: absolute;
      right: 1rem;
      bottom: .5rem;
      font-size: 1.25rem;
      text-decoration: none;
      color: mc('grey', '500');
    }
  }

  h1 {
    padding-left: 24px;
    color: mc('blue', '800');
    margin-top: 2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, mc('theme', 'primary'), rgba(mc('theme', 'primary'), 0));
    }

    & + h2, & + h3 {
      margin-top: 8px;
    }
  }
  h2 {
    margin-left: 24px;
    padding: 8px 0 0 0;
    color: mc('grey', '800');
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, mc('grey', '700'), rgba(mc('grey', '700'), 0));
    }

    & + h3 {
      margin-top: 8px;
    }
  }
  h3 {
    margin-left: 24px;
    padding: 8px 0 0 0;
    color: mc('grey', '700');
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, mc('grey', '500'), rgba(mc('grey', '500'), 0));
    }
  }

  p {
    padding: 1rem 24px 0 24px;
    margin: 0;
    text-align: justify;
  }

  code {
    background-color: rgba(mc('indigo', '50'), 1);
    padding: 0 5px;
    color: mc('indigo', '800');
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    font-size: 1rem;
    box-shadow: none;

    &::before, &::after {
      display: none;
    }
  }

  ol, ul {
    padding: 1rem 24px 0 24px;
    list-style-position: inside;

    li + li {
      margin-top: .5rem;
    }
  }

  .prismjs{
    border: none;
    border-radius: 5px;
    box-shadow: initial;
    background-color: mc('grey', '900');
    padding: 1rem 1rem 1rem 3rem;
    margin: 1rem 24px;

    > code {
      background-color: transparent;
      padding: 0;
      color: #FFF;
      box-shadow: initial;
      display: block;
      font-size: .85rem;
      font-family: 'Source Code Pro', monospace;

      &:after, &:before {
        content: initial;
        letter-spacing: initial;
      }
    }
  }

}
