/* THEME SPECIFIC STYLES */

@import "../../default/scss/app";
@import "settings";
@import "mixins";
@import "components";

.ty-max-width {
  margin-left: auto !important;
  margin-right: auto !important;

  @media screen and (min-width: 1500px) {
    max-width: 840px !important;
  }
}

.v-main .contents {
  // ---------------------------------
  // HEADERS
  // ---------------------------------

  h1, h2, h3, h4, h5, h6 {
    color: mc('grey', '800');

    .toc-anchor {
      top: 0;
      font-size: inherit;
      overflow: hidden;
      left: -1em;
      right: 0;
      color: transparent;

      &::before {
        content: '#';
        color: mc('theme', 'primary');
      }
    }

    &:not(:first-child) {
      margin-top: 1.25em;
    }
  }

  // remove underline
  h1, h4, h5, h6 {
    &::after {
      display: none;
    }
  }

  h2, h3 {
    &::after {
      background: mc('grey', '300');

      @at-root .theme--dark & {
        background: mc('grey', '300');
      }
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 1em;
    }

    & + h2 {
      margin-top: 1em !important;
    }
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  ul:not(.tabset-tabs) {
    list-style: disc;

    ul {
      list-style: circle;

      ul {
        list-style: square;
      }
    }

    li::before {
      display: none;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  h4, h5, h6 {
    & + p {
      padding-top: 8px;
    }
  }

  // ---------------------------------
  // CODE
  // ---------------------------------

  code {
    background: mc('grey', '200');
    padding: .1em .5em;
    border-radius: 4px;
    font-size: 85%;
    text-shadow: none;
    color: mc('grey', '800');
  }

  .code-toolbar .toolbar {
    top: 4px;
    right: 8px;
    z-index: 1;

    button {
      padding: .25em .5em;
    }
  }

  .code-toolbar[data-lang] {
    position: relative;

    &::after {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: none;
      width: 100%;
      height: 2rem;
      background: rgba(mc('grey', '800'), .5);
      color: mc('grey', '200');
      text-transform: uppercase;
      letter-spacing: .1em;
      font-family: "Roboto", sans-serif;
      font-size: .8rem;
      padding: 7px 16px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .prismjs {
      padding-top: 3rem;
    }
  }

  .prismjs {
    border: none;
    border-radius: 4px;
    box-shadow: initial;
    background-color: mc('grey', '900');
    padding: 1rem 1rem 1rem 3rem;
    margin: 1.25rem 0;

    .token.bold, .token.important {
      font-weight: 400;
    }

    * {
      text-shadow: none !important;
    }
  }
}
