doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    title Wiki.js | Configure

    // Favicon
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')

    // CSS
    link(type='text/css', rel='stylesheet', href='/css/libs.css')
    link(type='text/css', rel='stylesheet', href='/css/configure.css')

    // JS
    script(type='text/javascript', src='/js/libs.js')
    script(type='text/javascript', src='/js/configure.js')

    block head

  body
    #root
      #header-container
        nav.nav#header
          .nav-left
            a.nav-item
              h1
                i.icon-layers
                | Wiki.js
      main
        .container
          transition(name='tst-welcome')
            .welcome(style={'padding-bottom': '5px'}, v-if='state === "welcome"')
              img(src='/favicons/android-icon-96x96.png', alt='Wiki.js')
              h1 Welcome to Wiki.js!
              h2(style={'margin-bottom': 0}) A modern, lightweight and powerful wiki app built on NodeJS, Git and Markdown
          .content(v-cloak)
            template(v-if='state === "welcome"')
              .panel
                h2.panel-title.is-featured
                  span Introduction
                  i(v-if='loading')
                .panel-content.is-text
                  p This installation wizard will guide you through the steps needed to get your wiki up and running in no time!
                  p Detailed information about installation and usage can be found on the #[a(href='https://docs.wiki.requarks.io/') official documentation site]. #[br] Should you have any question or would like to report something that doesn't look right, feel free to create a new issue on the #[a(href='https://github.com/Requarks/wiki/issues') GitHub project].
                .panel-footer
                  button.button.is-indigo(v-on:click='proceedToSyscheck', v-bind:disabled='loading') Start
            template(v-else-if='state === "syscheck"')
              .panel
                h2.panel-title.is-featured
                  span System Check
                  i(v-if='loading')
                .panel-content.is-text
                  p(v-if='loading') #[i.icon-loader.animated.rotateIn.infinite] Checking your system for compatibility...
                  p(v-if='!loading && syscheck.ok') #[i.icon-check] Looks great! No issues so far.
                  p(v-if='!loading && !syscheck.ok') #[i.icon-square-cross] Error: {{ syscheck.error }}
                .panel-footer
                  button.button.is-teal(v-on:click='proceedToSyscheck', v-if='!loading && !syscheck.ok') Check Again
                  button.button.is-indigo(v-on:click='proceedToGeneral', v-if='loading || syscheck.ok', v-bind:disabled='loading') Continue
            template(v-else-if='state === "general"')
              .panel
                h2.panel-title.is-featured
                  span General
                  i(v-if='loading')
                .panel-content.form-sections
                  section
                    p.control.is-fullwidth
                      label.label Site Title
                      input(type='text', placeholder='e.g. Wiki', v-model='conf.title')
                  section
                    p.control.is-fullwidth
                      label.label Host
                      input(type='text', placeholder='http://', v-model='conf.host')
                .panel-footer
                  button.button.is-indigo(v-on:click='proceedToSyscheck', v-bind:disabled='loading') Continue
      footer.footer
        span
          | Powered by 
          a(href='https://github.com/Requarks/wiki') Wiki.js
          | .
    block outside
