extends ../layout.pug

block content
  .container.is-fluid.has-collapsable-nav
    .sidebar.is-collapsed
      aside
        .sidebar-label
          span= t('sidebar.nav')
        ul.sidebar-menu
          li
            a(href='/')
              i.nc-icon-outline.ui-1_home-minimal
              span= t('nav.root')
          if !isGuest
            li
              a(href='/admin')
                i.nc-icon-outline.ui-1_settings-gear-63
                span= t('nav.account')
          else
            li
              a(href='/login')
                i.nc-icon-outline.arrows-1_log-in
                span= t('nav.login')
    tree
