extends ../layout.pug

block rootNavRight
  i.nav-item#notifload
  .nav-item
    a.button(href='/' + pageData.meta._id)
      i.nc-icon-outline.ui-3_select
      span= t('nav.viewlatest')

block content
  history(current-path=pageData.meta._id, history-data=JSON.stringify(pageData.history))
