extends ../layout.pug

block rootNavCenter

block content
  .container
    .welcome
      img(src='/images/logo.png', alt='Wiki.js')
      h1= t('welcome.title')
      h2= t('welcome.subtitle')
      a.button.is-indigo(href='/create/home')= t('welcome.createhome')
