extends ../layout.pug

block rootNavCenter

block content
  .container
    .welcome
      img(src=appconfig.host + '/images/logo.png', alt='Wiki.js')
      h1= t('welcome.title')
      h2= t('welcome.subtitle')
      a.button.is-indigo(href=appconfig.host + '/create/home')= t('welcome.createhome')
